<div class="container">
  <div>
  <!--<div class="row-6 justify-content-between mg-auto">-->
    <div><!--<div class="col-6 align-self-center">-->
      <h1>Meh heroes</h1>
    </div>
  </div>
  <div>
  <!--<div class="row-6 justify-content-center mg-auto">-->
    <div>
  <!--<div class="col-6">-->
      <label>Hero name:
        <input class="form-control" #heroName />
      </label>
      <button class="btn btn-primary" (click)="add(heroName.value); heroName.value=''">
        Añadir
      </button>
    </div>
  </div>
  <div>
  <!--<div class="row-6 justify-content-between mg-auto">-->
    <div>
    <!--<div class="col-6">-->
      <ul class="list-group">
        <li *ngFor="let hero of heroes" class="list-group-item">
          <a routerLink="/detail/{{hero.id}}">
            <span class="badge badge-warning">{{hero.id}}</span> {{hero.name}}
          </a>
          <button class="btn btn-outline-danger btn-sm badge-pill" (click)="delete(hero)">x</button>
        </li>
      </ul>
    </div>
  </div>
</div>